<app-navigation-bar></app-navigation-bar>

<div class="container register">
    <div class="row">
        
        <div class="col-md-3 register-left">
            <img src="assets/images/heart_medical.png"  alt=""/>
            <p style="font-size:22px; font-style: oblique;"><b>Welcome!!</b></p>
            <p style="font-size:22px; font-style: italic; padding:2%"><b>You are 30 seconds away from saving a life!</b></p>            
        </div>

        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" ifade show actived="home" role="tabpanel" aria-labelledby="home-tab">
                    <p class="register-heading" style="font-size:26px;"> <b>Organ Donation Registraion</b></p>
                    <div class="row register-form">
                        
                        <div class="col-md-6">
                            <div class="card" style="width: 18rem; margin-top:1cm; margin-left:1cm; background: -webkit-linear-gradient(left, #3931af, #00c6ff); color: white;">
                                <img src="assets/images/heart.jpeg" class="card-img-top" alt="...">
                                <div class="card-body">
                                <p class="card-title" style="font-size: 16px;"> <b>Heart</b></p>
                                <p class="card-text">Heart donation is a gift of life to those for whom standard treatments are no longer working.</p>
                                <a href="#" class="btn btn-primary" style="background-color: white; color:#3931af"><b>View list</b></a>
                                </div>
                            </div>

                            <div class="card" style="width: 18rem; margin-top:1cm; margin-left:1cm; background: -webkit-linear-gradient(left, #3931af, #00c6ff); color: white;">
                                <img src="assets/images/kidney.jpeg" class="card-img-top" alt="...">
                                <div class="card-body">
                                <p class="card-title" style="font-size: 16px;"> <b>Kidney</b></p>
                                <p class="card-text">Donating your kidney is a potentially life-saving gift. Usually, kidney donation is something that happens after you die, but it is also possible to give the gift of living kidney donation.</p>
                                <a href="#" class="btn btn-primary" style="background-color: white; color:#3931af" ><b>View list</b></a>
                                </div>
                            </div>
                            <div class="card" style="width: 18rem; margin-top:1cm; margin-left:1cm; background: -webkit-linear-gradient(left, #3931af, #00c6ff); color: white;">
                                <img src="assets/images/liver.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                <p class="card-title" style="font-size: 16px;"><b>Liver</b></p>
                                <p class="card-text">Your liver is the largest organ in your body. It is a vital part of your digestive system, helping the body to get rid of toxins and regulate blood sugar levels.</p>
                                <a href="#" class="btn btn-primary" style="background-color: white; color:#3931af"><b>View list</b></a>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="card" style="width: 18rem; margin-top:1cm; margin-left:1cm; background: -webkit-linear-gradient(left, #3931af, #00c6ff); color: white;">
                                <img src="assets/images/lungs.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <p class="card-title" style="font-size: 16px;"><b>Lungs</b></p>
                                  <p class="card-text">Donating your lungs after your death can mean that one or both of your lungs is transplanted to save someone’s life.</p>
                                  <a href="#" class="btn btn-primary" style="background-color: white; color:#3931af"><b>View list</b></a>
                                </div>
                            </div>
    
                            <div class="card" style="width: 18rem; margin-top:1cm; margin-left:1cm; background: -webkit-linear-gradient(left, #3931af, #00c6ff); color: white;">
                                <img src="assets/images/eyes.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <p class="card-title" style="font-size: 16px;"><b>Eyes</b></p>
                                  <p class="card-text">Eye donation involves donating your corneas – not your iris. Sometimes called a keratoplasty, or a corneal graft, a cornea transplant could give someone back the gift of sight.</p>
                                  <a href="#" class="btn btn-primary" style="background-color: white; color:#3931af"><b>View list</b></a>
                                </div>
                            </div>
    
                            <div class="card" style="width: 18rem; margin-top:1cm; margin-left:1cm; background: -webkit-linear-gradient(left, #3931af, #00c6ff); color: white;">
                                <img src="assets/images/plasma_1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <p class="card-title" style="font-size: 16px;"><b>Plasma</b></p>
                                  <p class="card-text">These antibodies provided one way for your immune system to fight the virus when you were sick, so your plasma may be able to be used to help others fight off the disease.</p>
                                  <a href="#" class="btn btn-primary" style="background-color: white; color:#3931af"><b><b>View list</b></b></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>