<form>
    <div class="container register">
        <div class="row">
            
            <div class="col-md-3 register-left">
                <img src="assets/images/heart_medical.png" alt=""/>  
                
                <p style="font-size:22px; font-style: oblique;"><b>Welcome!!</b></p>
                <p style="font-size:22px; font-style: italic; padding:2%"><b>You are 30 seconds away from saving a life!</b></p>
            </div>

            <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" ifade show actived="home" role="tabpanel" aria-labelledby="home-tab">
                        <p class="register-heading" style="font-size:26px;"><b>Organ Donation Registraion</b></p>
                        <div class="row register-form">
                            
                            <div class="col-md-6">
                                <p style="font-size:17px; padding-bottom: 2%;"><b>Primary User</b></p>
                                <div class="form-group mb-3  mt-n1">
                                    <input type="text" class="form-control" [(ngModel)]="userName" name="first_name_name" id="first_name_id" placeholder="First Name *" value="" />
                                    <p> usernmae:::::: {{userName}} </p>
                                </div>

                                <div class="form-group mb-3  mt-n1">
                                    <input type="text" class="form-control" name="last_name_name" id="last_name_id" placeholder="Last Name *" value="" />
                                </div>
                                <div class="form-group mb-3  mt-n1">
                                    <input type="email" class="form-control" name="email_name" id="email_id" placeholder="Email *" value="" />
                                </div>
                                
                                <div class="form-group mb-3 mt-n1 was-validated">
                                    <!-- <label for="validationServerUsername" class="form-label">Username</label>-->
                                    <div class="input-group has-validation">
                                       <span class="input-group-text" id="inputGroupPrepend3">+91</span>
                                       <input type="tel" pattern="[0-9]{10}" class="form-control" id="phone_id" name="phone_name" placeholder="Phone number*"  value="" required>
                                    </div>
                                </div>

                                <div class="form-group mb-3 mt-n1">
                                    <input type="text" class="form-control"  name="aadhar_name" id="aadhar_id" placeholder="Aadhar Number*" value="" />
                                </div>

                                
                                <div class="form-group mb-3 mt-n1">
                                    <input type="number" class="form-control"  name="age_name" id="age_id" min="20" max="100" placeholder="Age" value="" />
                                </div>

                                <div class="form-group mb-3 mt-n1">
                                    <input type="text" class="form-control"  name="bld_grp_name" id="bld_grp_id" placeholder="Blood Group*" value="" />
                                </div>

                                <div class="px-2 mb-3 mt-n1 ml-10">
                                    <fieldset id="group1">
                                        <input class="ml-10 px-5" type="radio" value="gender" name="group1_gender_name" id="group2_gender_id"> <span class="px-2"> Male </span>
                                        <input class="ml-10 px-5" type="radio" value="gender" name="group1_gender_name" id="group2_gender_id"> <span class="px-2"> Female </span>
                                    </fieldset>
                                </div>

                                <div class="form-group mb-3 mt-n1">
                                    <p style="font-size:16px; padding: 3%;"><b>Password</b></p>
                                    <input type="password" class="form-control"  name="pass_name" id="pass_id" placeholder="Password*" value="" />
                                </div>
                                <div class="form-group mb-3 mt-n1">
                                    <p style="font-size:16px; padding: 3%;"><b>Confirm Password</b></p>
                                    <input type="password" class="form-control"  name="confirm_pass_name" id="confirm_pass_id" placeholder="Password*" value="" />
                                </div>

                            </div>

                            <div class="col-md-6">
                                <p style="font-size:17px; padding-bottom: 2%;"><b>Secondary User</b></p>
                                <div class="form-group mb-3  mt-n1">
                                    <input type="text" class="form-control" name="secondary_first_name_name" id="secondary_first_name_id" placeholder="First Name *" value="" />
                                </div>

                                <div class="form-group mb-3  mt-n1">
                                    <input type="text" class="form-control" name="secondary_last_name_name" id="secondary_last_name_id" placeholder="Last Name *" value="" />
                                </div>
                                <div class="form-group mb-3  mt-n1">
                                    <input type="email" class="form-control" name="secondary_email_name" id="secondary_email_id" placeholder="Email *" value="" />
                                </div>

                                <div class="form-group mb-3 mt-n1 was-validated">
                                    
                                    <div class="input-group has-validation">
                                       <span class="input-group-text" id="inputGroupPrepend3">+91</span>
                                       <input type="tel" pattern="[0-9]{10}" class="form-control" name="secondary_phone_name" id="secondary_phone_id" placeholder="Phone number*"  value="" required>
                                       
                                     </div>
                                </div>

                                <div class="form-group mb-3 mt-n1">
                                    <input type="text" class="form-control"  name="secondary_aadhar_name" id="secondary_aadhar_id" placeholder="Aadhar Number*" value="" />
                                </div>

                                <div class="form-group mb-3 mt-n1">
                                    <input type="text" class="form-control"  name="secondary_bld_grp_name" id="secondary_bld_grp_id" placeholder="Blood Group*" value="" />
                                </div>

                                <div class="px-2 mb-3 mt-n1 ml-10">
                                    <fieldset id="group2">
                                        <input class="ml-10 px-5" type="radio" value="gender" name="group2_gender_name" id="group2_gender_id"> <span class="px-2"> Male </span>
                                        <input class="ml-10 px-5" type="radio" value="gender" name="group2_gender_name" id="group2_gender_id"> <span class="px-2"> Female </span>
                                    </fieldset>
                                </div>

                            </div>

                            <h2 style="margin-top: 1cm"><b>Terms and Conditions</b></h2>
                            <h4>
                                By submitting this registration I affirm I am the person described on this application, 
                                and the information entered herein is true and correct to the best of my knowledge. 
                                This registration will serve as a document of gift as outlined in the Indian Unified Anatomy Act. 
                                As per this act: friend, live-in partner and a nominated person in the provisions of the Act 
                                to enable them to give consent for body donation.   
                            </h4>
                            <div>
                                <input class="form-check-input" style="margin-right: 0.25cm" type="checkbox" value="" id="accept_terms">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Yes, I accept the Terms and Conditions.
                                </label>
                            </div>
                            
                            <button type="button" routerLink="/organList" id="userreg" name="userreg" class="btn btn-primary register_button">proceed to next page</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>