<app-navigation-bar></app-navigation-bar>
<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="container register">
        <div class="row">
            
            <div class="col-md-3 register-left">
                <img src="assets/images/heart_medical.png"  alt=""/>
                <p style="font-size:22px; font-style: oblique;"><b>Welcome!!</b></p>
                <p style="font-size:22px; font-style: italic; padding:2%"><b>You are 30 seconds away from saving a life!</b></p>            
            </div>

            <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" ifade show actived="home" role="tabpanel" aria-labelledby="home-tab">
                        <p class="register-heading" style="font-size:26px;"> <b>Organ Donation Login</b></p>
                        <div class="row register-form">
                            
                            <div style="padding: 1cm;">
                                <div style="margin-left: 5cm;">
                                    <h3 style="font-size: 18px; padding-top:1%;"> <b> Email </b> </h3> 
                                    <input type="text" style="width: 10cm; height: 1cm;" class="form-control" name="email" id="email" required placeholder="Please enter your email id or donor's email id" value="" formControlName="loginEmail"/>
                                    <div *ngIf = "f.loginEmail.touched && f.loginEmail.invalid" class="alert alert-danger">
                                        <div *ngIf="f.loginEmail.errors?.required">Email is required</div>
                                    </div>
                                </div>
                                <div style="margin-left: 5cm;">
                                    <h3 style="font-size: 18px;  padding-top: 1cm;"> <b> Password </b> </h3> 
                                    <input type="password" style="width: 10cm; height: 1cm;" class="form-control" name="password" id="password" required placeholder="Please enter your password" value="" formControlName="loginPassword"/>
                                    <div *ngIf = "f.loginPassword.touched && f.loginPassword.invalid" class="alert alert-danger">
                                        <div *ngIf="f.loginPassword.errors?.required">Password is required</div>
                                    </div>
                                </div>

                                <!--<button type="submit" routerLink="/usrHomepage" id="usrlogin" name="usrlogin" class="btn btn-primary register_button">Login</button>-->
                                <!-- Example single danger button -->
                                
                                <div class="dropdown-div dropdown-button">
                                    <h6>Login As</h6>
                                    <select name="Login As" formControlName="loginAs" style="margin-top: 0.5cm;" >
                                        <option style="height: 20px;"  selected>Primary User</option>
                                        <option style="height: 20px;"  >Secondary User</option>
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-primary register_button">
                                    Login
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>