<app-navigation-bar></app-navigation-bar>
<form>
    <div class="container register">
        <div class="row">
            
            <div class="col-md-3 register-left">
                <img src="assets/images/heart_medical.png"  alt=""/>
                <p style="font-size:22px; font-style: oblique;"><b>Welcome!!</b></p>
                <p style="font-size:22px; font-style: italic; padding:2%"><b>You are 30 seconds away from saving a life!</b></p>            
            </div>

            <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" ifade show actived="home" role="tabpanel" aria-labelledby="home-tab">
                        <p class="register-heading" style="font-size:26px;"> <b>Organ Donation Login</b></p>
                        <div class="row register-form">
                            
                            <div style="padding: 1cm;">
                                <div style="margin-left: 5cm;">
                                    <h3 style="font-size: 18px; padding-top:1%;"> <b> Email </b> </h3> 
                                    <input type="text" style="width: 10cm; height: 1cm;" class="form-control" name="email" id="email" placeholder="Please enter your email id or donor's email id" value="" />
                                </div>
                                <div style="margin-left: 5cm;">
                                    <h3 style="font-size: 18px;  padding-top: 1cm;"> <b> Password </b> </h3> 
                                    <input type="password" style="width: 10cm; height: 1cm;" class="form-control" name="password" id="password" placeholder="Please enter your password" value="" />
                                </div>

                                <button type="button" routerLink="/usrHomepage" id="usrlogin" name="usrlogin" class="btn btn-primary register_button">Login</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>