<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" >
        <img src="assets/images/heart_medical.png" width="80" height="50" class="d-inline-block align-top" alt="no image">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink = "/" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink = "/hospitalsList">List of hospitals</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink = "/requests" >Pending Requests</a>
          </li>
          <!--<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" >Action</a></li>
              <li><a class="dropdown-item" >Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" >Something else here</a></li>
            </ul>
          </li>-->
          <!--<li class="nav-item">
            <a class="nav-link disabled"  tabindex="-1" aria-disabled="true">Disabled</a>
          </li>-->
          
          <li class="nav-item">
            <a class="nav-link" routerLink = "/listOrg" >List of all organs</a>
          </li>

        </ul>
        <form class="d-flex">
          <button type="button" routerLink="/usrReg" id="register" name="register" class="btn btn-primary" style="margin-right: 1cm">User Registration</button>
          <button type="button" routerLink="/usrLogin" id="login" name="login" class="btn btn-primary" style="margin-right: 1cm">User Login</button>
        </form>
      </div>
    </div>
  </nav>