<app-navigation-bar></app-navigation-bar>

<div class="container register">
    <div class="row">
        
        <div class="col-md-3 register-left">
            <img src="assets/images/heart_medical.png"  alt=""/>
            <p style="font-size:22px; font-style: oblique;"><b>Welcome!!</b></p>
            <p style="font-size:22px; font-style: italic; padding:2%"><b>You are 30 seconds away from saving a life!</b></p>            
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" ifade show actived="home" role="tabpanel" aria-labelledby="home-tab">
                    <p class="register-heading" style="font-size:26px;"> <b>Welcome!!</b></p>
                    <div class="row register-form">
                        <div  style="align-self: center;">
                            <p style="font-size: 18px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                            Organ donation takes healthy organs and tissues from one person for transplantation into another. 
                            Experts say that the organs from one donor can save or help as many as 50 people. 
                            <br> <br> <br>
                        
                            Organs you can donate include: Kidneys, heart, liver, Cornea of the Eyes.
                            
                            <br> <br> <br>
                            Most organ and tissue donations occur after the donor has died. 
                            But some organs and tissues can be donated while the donor is alive.
                            <br> <br> <br>
                            <b><u>Facts about Organ Donation:</u></b><br><br><br>
                        
                                1. Anybody can be an organ donor irrespective of their age, caste, religion, community etc <br><br>
                                2. There is no defined age for donating organs. The decision to donate organs is based on strict medical criteria, not age.<br><br>
                                3. Tissues such as cornea, heart valves, skin, and bone can be donated in case of natural death but vital organs such as heart, liver, kidneys, intestines, lungs, and pancreas can be donated only in the case of ‘brain death’.<br><br>
                                4. Organs such as the heart, pancreas, liver, kidneys and lungs can be transplanted to those recipients whose organs are failing because it allows many recipients to return to a normal lifestyle.<br><br>
                                5. Anyone younger than age 18 needs to have the agreement of a parent or guardian to be a donor.<br><br>
                            </p>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>