<app-hospital-three-nav-bar></app-hospital-three-nav-bar>

<div class="container register">
    <div class="row">
        
        <div class="col-md-3 register-left">
            <img src="assets/images/heart_medical.png"  alt=""/>
            <p style="font-size:22px; font-style: oblique;"><b>Welcome!!</b></p>
            <p style="font-size:22px; font-style: italic; padding:2%"><b>You are 30 seconds away from saving a life!</b></p>            
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" ifade show actived="home" role="tabpanel" aria-labelledby="home-tab">
                    <p class="register-heading" style="font-size:26px;"> <b>Welcome!!</b></p>
                    <div class="row register-form">
                        <div  style="align-self: center;">
                            <p style="font-size: 18px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                              The CARE Hospitals Group is a multispecialty healthcare provider, with 12 hospitals serving 6 
                              cities across 5 states of India. The regional leader in tertiary care in South/Central India and 
                              among the top 5 pan-Indian hospital chains, CARE Hospitals delivers comprehensive care in more than 30 
                              specialties in tertiary care settings.
                               
                              <br><br><br>
                              The CARE team has many firsts to its credit:

                              1st Prospective randomised trial of balloon valvotomy vs mitral valve replacement in the world <br><br>
                              1st Coronary Angioplasty in India <br><br>
                              2nd Balloon Valvuloplasty in India <br><br>
                              1st Cardiac MRI in India <br><br>
                              1st Atrial Fibrillation Clinic in India <br><br>
                              1st Beating Heart Surgery in Andhra Pradesh <br><br>
                              1st Heart Transplant Performed in a tier-2 town (Visakhapatnam) <br><br>

                            </p>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>