<app-navigation-bar></app-navigation-bar>

<form class="registration-form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="container register">
        <div class="row">
            
            <div class="col-md-3 register-left" style="margin-top: 2cm;">
                <img src="assets/images/heart_medical.png" alt=""/>
                <p style="font-size:22px; font-style: oblique;"><b>Welcome!!</b></p>
                <p style="font-size:22px; font-style: italic; padding:2%"><b>You are 30 seconds away from saving a life!</b></p>            
            </div>

            <div class="col-md-9 register-right tab-content tab-pane fade show active" id="myTabContent" ifade show actived="home" role="tabpanel" aria-labelledby="home-tab">
                <p class="register-heading" style="font-size:26px;"> <b>Organ Heart</b></p>
                <div class="row register-form" style="font-size: 18px; text-align: center;">
                    <!--<div class="container" *ngIf="showTable" style="width: 10cm; margin-top:1cm;">-->
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Blood Group</th>
                            <th>Count</th>
                            <!--<th>Donated Date</th>
                            <th>Donated Time</th>
                            <th>Donor Name</th>
                            <th>Hospital Name</th>-->
                        </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let hD of heartData">
                                <td><span>{{hD.bloodGroup}}</span></td>
                                <td><span>{{hD.count}}</span></td>
                                <!--<td><span>{{hD.donatedDay}}</span></td>
                                <td><span>{{hD.donatedTime}}</span></td>
                                <td><span>{{hD.donorName}}</span></td>
                                <td><span>{{hD.hospitalName}}</span></td>-->
                            </tr>
                        </tbody>
                    </table>

                    <div style="margin-top: 1cm; font-size:17px;">
                        
                        <b>Blood Group: </b>
                        <select name="hospitals" id="bloodGroup" formControlName="bloodGroup">
                            <option *ngFor="let bloodGroupVal of bloodGroups" [value]="bloodGroupVal.value">{{bloodGroupVal.viewValue}}</option>
                        </select>
                    
                        <b style="margin-left: 1cm;">Hospital: </b> 
                        <select name="hospitals" style="margin-top: 1cm;" id="hospitals" formControlName="hospitalName">
                            <option style="height: 20px;" *ngFor="let hD of hospitalData" value={{hD.hospitalName}}>{{hD.hospitalName}}</option>
                        </select>
                        
                        <button type="submit" id="donate" name="donate" class="btn btn-primary register_button"  style="margin-left: 1.5cm;">Filter</button>

                    </div>

                    <table class="table table-bordered table-striped" *ngIf="showMe" style="margin-top: 2cm;">
                        <thead>
                        <tr>
                            <th>Blood Group</th>
                            <th>Hospital Name</th>
                            <th>Donor Name</th>
                            <th>Donated Date and Time</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hD2 of heartData2">
                                <td><span>{{hD2.bloodGroup}}</span></td>
                                <td><span>{{hD2.hospitalName}}</span></td>
                                <td><span>{{hD2.donorName}}</span></td>
                                <td><span>{{hD2.donatedDateAndTime}}</span></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</form>

<!--(ngSubmit)="submit()"-->