<app-navigation-bar></app-navigation-bar>
<div class="container register">
    <div class="row">
        
        <div class="col-md-3 register-left">
            <img src="assets/images/heart_medical.png"  alt=""/>
            <p style="font-size:22px; font-style: oblique;"><b>Welcome!!</b></p>
            <p style="font-size:22px; font-style: italic; padding:2%"><b>You are 30 seconds away from saving a life!</b></p>            
        </div>

        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" ifade show actived="home" role="tabpanel" aria-labelledby="home-tab">
                    <p class="register-heading" style="font-size:26px; align-self:center; margin-left:1cm;"> <b> The Below is the list of registered hospitals</b></p>
                    <div class="row register-form">
                        
                        <div style="font-size: 18px; text-align: center; margin-top: 3cm; margin-left:1.5cm;">
                            <!--<div class="container" *ngIf="showTable" style="width: 10cm; margin-top:1cm;">-->
                            <table class="table table-bordered table-striped" style="margin-left:-2cm; margin-top: -2cm;">
                                <thead>
                                <tr>
                                    <th>Hospital ID</th>
                                    <th>Hospital Name</th>
                                    <th>Hospital Contact Email</th>
                                    <th>Hospital Contact Number</th>
                                    <th>Hospital location</th>
                                    <th>Hospital Pin</th>
                                    
                                </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let hAD of hospitalAllData">
                                        <td><span>{{hAD.id}}</span></td>
                                        <td><span>{{hAD.hospName}}</span></td>
                                        <td><span>{{hAD.hospEmail}}</span></td>
                                        <td><span>{{hAD.phone}}</span></td>
                                        <td><span>{{hAD.city}}, {{hAD.state}}</span></td>
                                        <td><span>{{hAD.pin}}</span></td>                                      
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>