<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" >
        <img src="assets/images/heart_medical.png" width="80" height="50" class="d-inline-block align-top" alt="no image">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink = "/" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink = "/aboutus">About Us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink = "/departments" >Departments</a>
          </li>
         <!--<li class="nav-item">
            <a class="nav-link" routerLink = "/qrCode" >QR Code</a>
          </li>-->
        
        </ul>
        <form class="d-flex">
          <button type="button" routerLink="/hospOneRequest" id="request" name="request" class="btn btn-primary" style="margin-right: 1cm">Raise Request</button>
          <button type="button" routerLink="a" id="login" name="login" class="btn btn-primary" style="margin-right: 1cm">User Login</button>
        </form>
      </div>
    </div>
  </nav>