<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" >
        <img src="assets/images/heart_medical.png" width="80" height="50" class="d-inline-block align-top" alt="no image">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-size: 18px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink = "/">Back to Original home page</a>
          </li>
          
          <!--<li class="nav-item">
            <a class="nav-link" routerLink = "/aboutus">About Us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink = "/departments" >Departments</a>
          </li>-->
          
         <!--<li class="nav-item">
            <a class="nav-link" routerLink = "/qrCode" >QR Code</a>
          </li>-->
        
        </ul>
        <form class="d-flex">
          <button type="button" routerLink="/hospOneRequest" id="request" name="request" class="btn btn-primary" style="margin-right: 1cm">Raise Request</button>
          <button type="button" routerLink="/hospOneResponse" id="login" name="login" class="btn btn-primary" style="margin-right: 1cm">Respond here!!</button>
        </form>
      </div>
    </div>
</nav>


<div class="container register">
    <div class="row">
        
        <div class="col-md-3 register-left">
            <img src="assets/images/heart_medical.png"  alt=""/>
            <p style="font-size:22px; font-style: oblique;"><b>Welcome!!</b></p>
            <p style="font-size:22px; font-style: italic; padding:2%"><b>You are 30 seconds away from saving a life!</b></p>            
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" ifade show actived="home" role="tabpanel" aria-labelledby="home-tab">
                    <p class="register-heading" style="font-size:26px;"> <b>Welcome!!</b></p>
                    <div class="row register-form">
                        <div  style="align-self: center;">
                            <p style="font-size: 18px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                              <b>Why Choose us?</b><br>
                              Established by Dr Prathap C Reddy in 1983, Apollo Healthcare has a robust presence across the 
                              healthcare ecosystem. From routine wellness & preventive health care to innovative life-saving 
                              treatments and diagnostic services, Apollo Hospitals has touched more than 120 million lives from 
                              over 120 countries, offering the best clinical outcomes.
                               
                            <br> <br> <br>
                              
                            <b>7,000+ Healing Hands</b><br>
                            Largest network of the world’s finest and brightest medical experts who provide compassionate care 
                            using outstanding expertise and advanced technology.

                            <br> <br> <br>

                            <b>4,000+ Pharmacies</b><br>
                            Apollo Pharmacy is India’s first, largest and most trusted branded pharmacy network, 
                            with over 4000 plus outlets covering the entire nation

                            <br> <br> <br>
                            <b>Most Advanced Healthcare Technology</b><br>
                            Apollo Hospitals has been the pioneer in bringing ground-breaking healthcare technologies to India.

                            <br> <br> <br>
                            <b>Best Clinical Outcomes</b><br>
                            Leveraging its vast medical expertise & technological advantage, Apollo Hospitals has consistently delivered best in class clinical outcomes.


                            
                            
                            </p>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>